$white: #ffffff;
$dark-gray: #858585;
$dark-gray-hover: #949494;
$green: #11ef5c;
$green-hover: #b4ffb8;
$dark-blue: #082743;
$dark-blue2: #205891;
$dark-blue3: #0d3558;
$orange: #ffa724;
$gray: #dbcec8;
$blue: #1b5792;
$blue-hover: #4c759e;
$red: #f43838;
$red-hover: #f16363;
$red-validation: #ff6868;
$green-validation: #84ff79;

.flex {
  display: flex;
}

.row {
  flex-flow: row nowrap;
}

.column {
  flex-flow: column nowrap;
}

.a-center {
  align-items: center;
}
.a-start {
  align-items: flex-start;
}
.a-end {
  align-items: flex-end;
}

.j-center {
  justify-content: center;
}
.j-start {
  justify-content: flex-start;
}
.j-end {
  justify-content: flex-end;
}
.j-space-between {
  justify-content: space-between;
}
.j-space-around {
  justify-content: space-around;
}
